/* Olá CSS */

/* Cor de Fundo */
body {
    background-color:  rgba(237, 239, 241, 0.849);
}

/* Centralização da imagem logo */
#div-logo {
    text-align: center;
    padding: 2rem 2rem 2rem;
}

/* Centralização dos botões */
#buttons, #text-body, #div-p-footer {
    text-align: center;
}

/* Formatação do Botão: Adicionar ideias */
#button-add {
    background-color: transparent;
    font-weight: bold;
    border-color: rgba(237, 239, 241, 0.5);
    border-radius: 10px;
    padding: 0.5rem 3rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

/* Formatação do Botão: Ver ideias */
#button-ideias {
    background-color: rgb(255, 44, 125);
    color: #fff;
    font-weight: bold;
    border-color: rgba(237, 239, 241, 0.5);
    border-radius: 10px;
    padding: 0.5rem 3rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

/* Link sem formatação padrão */
#link-rocket {
    color: black;
    text-decoration: none;
}

/* Aula 2 */
